body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  .logo {
    width: 30%;
    margin: auto;
  }
  .container {
    width: 40%;
    padding: 10px;
    margin: auto;
    overflow-x: hidden;
    margin: 50px auto;
  }
  .signup {
    width: 100%;
    border: 1px solid rgb(124, 113, 113);
    border-radius: 18px;
    box-shadow: 2px 2px 30px 2px rgb(183, 175, 175);
  }
  .insta {
    margin-left: 40px;
  }
  .name input, .password input,
  .button button {
    padding: 10px;
    width: 95.5%;
    border-radius: 15px;
    outline: none;
    border: none;
  }
  .name,
  .password,
  .button {
    width: 85%;
    margin: auto;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid rgb(90, 82, 82);
  }
  .button button {
    cursor: pointer;
    width: 100%;
  }
  .password {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .condition {
    width: 80%;
    margin: auto;
    margin-top: 10px;
  }
  .other-account {
    font-size: 19px;
    margin: 40px 40px;
  }
  .class{
    margin-left: -12px;
    padding: 5px;
  }